<%= form_for(@user, html: {class: "form-horizontal", role: "form"}) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
  <div class="logo">register</div>
  <!-- Main Form -->
  <div class="login-form-1">
    <form id="register-form" class="text-left">
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group">
            <label for="first_name" class="sr-only">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="first name">
          </div>
          <div class="form-group">
            <label for="last_name" class="sr-only">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="last name">
          </div>
          <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="email">
          </div>

          <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="password">
          </div>
          <div class="form-group">
            <label for="password_confirmation" class="sr-only">Password Confirmation</label>
            <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="confirm password">
          </div>

          <div class="form-group login-group-checkbox">
            <input type="checkbox" class="" id="agree" name="agree">
            <label for="agree">I agree with <a href="#">terms</a></label>
          </div>
        </div>
        <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
        <%= f.submit 'submit' %>
      </div>
      <div class="etc-login-form">
        <p>Already have an account? <a href="/">Login here</a></p>
      </div>
    </form>
  </div>
  <!-- end:Main Form -->
</div>
<% end %>
