<footer class="footer">
  <small>
    App created by <a href="http://www.google.com/">Michael Haney</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
